[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
mypy = "*"
pytest-cov = "*"

[packages]
fire = "*"
pysnit = {editable = true,path = "."}
typing-extensions = "*"

[requires]
python_version = "3.6"

[scripts]
"test" = "pytest -v"
"test:cov" = "pytest -v --cov=."
"test:out" = "pytest -v --capture=no" # passしたかどうかに関わらずprintを標準出力に出力する
"lint" = "flake8 --exclude 'tests' --show-source ."
"format" = "autopep8 -ivr . --exclude tests"
"type" = "mypy ./src --config-file ./mypy.ini"
